.forecast-section {
    white-space: nowrap;
    overflow: auto;
    display: flex;
}

.forecast {
    width: fit-content;
    background-color: lightgray;
    border-radius: 12px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    font-family: $hind;
    &__day {
        margin: 5px;
        margin-top: 10px;
    }
    &__icon {
        margin: 10px 0px;
        width: 40px;
        height: 40px;
    }
    &__temp {
        margin: 10px;
    }
}
