.forecast-section {
    white-space: nowrap;
    overflow: auto;
    display: flex;
    margin-top: 60px;
    @media screen and (min-width: 570px) {
        display: flex;
        justify-content: center;
    }
}

.forecast {
    width: fit-content;
    background-color: $colorTransparentPrimaryDark;
    color: white;
    border-radius: 12px;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    font-family: $hind;
    border: 3px solid $colorTransparentWhite;
    font-size: 20px;

    &__day {
        margin: 5px;
        margin-top: 10px;
    }

    &__icon {
        margin: 10px 0;
        width: 45px;
        height: 45px;
    }

    &__temp {
        margin: 10px;
    }
}
