.header {
    margin: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;

    &__menu {
        margin-right: 15px;
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 20px;
        background-color: white;
        &__text {
            height: 100%;
            width: 100%;
            margin: 0px 5px;
            &__input {
                font-size: 1rem;
                border: none;
                height: 100%;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
        }
        &__img {
            margin-right: 5px;
        }

        &__autocomplete {
            width: 248px;
            height: fit-content;
            max-height: 250px;
            position: absolute;
            top: 33px;
            border-radius: 0px 0px 20px 20px;
            z-index: 2;
            background-color: white;
            overflow: hidden;
            overflow-y: scroll;

            li {
                margin: 0px 5px;
                padding: 12px;
                list-style-type: none;
                &:hover {
                    background-color: lightgray;
                    border-radius: 12px;
                }
            }
        }
    }
}
