.header {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 20px;
        background-color: white;

        &__text {
            height: 100%;
            width: 100%;
            margin: 0px 5px;

            &__input {
                font-size: 1rem;
                border: none;
                height: 100%;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }
        &__img {
            margin-right: 5px;
        }

        &__autocomplete {
            width: 248px;
            height: fit-content;
            max-height: 250px;
            position: absolute;
            top: 33px;
            border-radius: 0px 0px 20px 20px;
            z-index: 2;
            background-color: white;
            overflow: hidden;
            overflow-y: scroll;
            ul {
                overflow: auto;
            }
            li {
                margin: 0px 5px;
                padding: 12px;
                list-style-type: none;
                &:hover {
                    background-color: lightgray;
                    border-radius: 12px;
                }
                &:focus{
                    background-color: lightgray;
                    border-radius: 12px;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 5px;
        overflow: hidden;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
        height: 5px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 2px;
        overflow: hidden;
        height: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        overflow: hidden;
    }
    ::-webkit-scrollbar-track-piece:end {
        background-color: transparent;
        margin-bottom: 10px;
    }
    ::-webkit-scrollbar-track-piece:start {
        background-color: transparent;
        margin-top: 15px;
    }
}
