.weather-section {
    background-image: url("/assets/image/photo/tokyo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 760px) {
        height: 520px;
        
    }
}

.weather {
    min-width: 160px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $lato;
    background-color: $colorPrimaryDark;
    color: $colorSecondary;
    border: 3px solid white;
    border-radius: 12px;
    padding: 12px;

    &__city {
        max-width: 140px;
        font-size: 24px;
        font-weight: 900;
        margin: 5px;
        -webkit-line-clamp: 4;
        text-align: center;
    }

    &__temp {
        font-size: 48px;
        font-weight: 400;
        margin: 5px;
        font-family: $lato
    }

    &__icon {
        width: 60px;
        height: 60px;
        margin: 5px 0px;
    }

    &__description {
        margin: 5px;
    }
}
