//font
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap");
$lato: "Lato", sans-serif;
$hind: "Hind", sans-serif;

//Colors
$colorPrimary: #4B72E7;
$colorPrimaryDark: #0F266C;
$colorTransparentPrimaryDark: rgba(0, 0, 0, 0.5);
$colorPrimaryLight: #5f5fc4;
$colorSecondary: #fff9fb;
$colorAccent: #7c90a0;
$colorTransparentWhite: rgba(255, 255, 255, 0.3);

//layout
@import "reset";
@import "header";
@import "weather";
@import "forecast";

body {
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
}
