*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: lightgray;
}

.header {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.header__menu {
  margin-right: 15px;
}
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
}
.header__search__text {
  height: 100%;
  width: 100%;
  margin: 0px 5px;
}
.header__search__text__input {
  font-size: 1rem;
  border: none;
  height: 100%;
  width: 100%;
}
.header__search__text__input:focus {
  outline: none;
}
.header__search__img {
  margin-right: 5px;
}